---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import {getBlogDetail} from '../lib/lib';
import type { blogMenuType } from '../data/types';
const blogData=await getBlogDetail({fields:["id","title","img"]});
const blogMenuList:blogMenuType[]=blogData.contents as blogMenuType[];
---

<Layout title="first-astro-practice">
	<Header/>
	<main class="container mx-auto px-4 font-sans min-[501px]:flex justify-center">
		{blogMenuList.map((item:blogMenuType)=>(
			<div 
				class="border-slate-200 h-[280px] border-2 w-[210px] max-[500px]:mx-auto mt-[30px] mr-[40px]"
			>
				<a href={`/blog/${item.id}`} >
					<div>
						<img src={item.img.url} width={210} height={140}/>
					</div>
					<div class="h-[140px]">
						<h2 class="text-center font-bold mt-[10px]">{item.title}</h2>
					</div>
				</a>
			</div>
		))}
	</main>
</Layout>

